<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta charset="UTF-8" />
    <title>Fisheye - Photographe</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles/css/views/photographerPage.css" />
  </head>

  <body>
    <header>
      <div class="brandingWrapper">
        <a href="../index.html" title="Retour à l'accueil">
          <figure class="brandingWrapper__imgContainer">
            <img
              class="brandingWrapper__imgContainer__img"
              src="../public/assets/logo.png"
              alt="Fisheye branding logo"
            />
          </figure>
        </a>
      </div>
    </header>
    <main class='main'>
      <section class="photographersBanner"></section>
      <section class="photographerWork"></section>
    </main>
    <footer></footer>

    <!-- CONTROLLERS -->
    <script src="../scripts/controllers/photographerPage.js"></script>
  </body>
</html>
