<!-- made by Nicolas DECRESSAC — 2023 -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta charset="UTF-8" />
    <title>Fisheye - Photographe</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/favicon.png" />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- material icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- views & components css -->
    <link
      rel="stylesheet"
      href="../public/styles/css/views/photographerPage.css"
    />
    <link
      rel="stylesheet"
      href="../public/styles/css/components/contactModal.css"
    />
    <link
      rel="stylesheet"
      href="../public/styles/css/components/lightbox.css"
    />
  </head>

  <body>
    <header>
      <div class="brandingWrapper">
        <a href="../index.html" title="Retour à l'accueil">
          <figure class="brandingWrapper__imgContainer">
            <img
              class="brandingWrapper__imgContainer__img"
              src="../public/assets/logo.png"
              alt="Fisheye Home page"
            />
          </figure>
        </a>
      </div>
    </header>
    <main class="main">
      <section class="photographersBanner">
        <!-- JS DOM INJECTION  FROM CONTROLLER -->
      </section>
      <section class="photographerWork">
        <!-- JS DOM INJECTION FROM CONTROLLER -->
      </section>
    </main>
    <footer></footer>

    <!-- UTILS -->
    <script src="../scripts/utils/Utils.js"></script>

    <!-- API -->
    <script src="../scripts/controllers/ApiCalls.js"></script>

    <!-- MODELS -->
    <script src="../scripts/models/Photographer.js"></script>
    <script src="../scripts/models/Image.js"></script>
    <script src="../scripts/models/Video.js"></script>

    <!-- FACTORIES -->
    <script src="../scripts/factories/MediaFactory.js"></script>
    <script src="../scripts/factories/PhotographerFactory.js"></script>

    <!-- SERVICES -->
    <script src="../scripts/services/MediaService.js"></script>
    <script src="../scripts/services/PhotographersService.js"></script>

    <!-- CONTROLLERS -->
    <script src="../scripts/controllers/ContactModal.js"></script>
    <script src="../scripts/controllers/Lightbox.js"></script>
    <script src="../scripts/controllers/PhotographerPage.js"></script>
  </body>
</html>
