@import '../utils/globalStyles.scss';
@import '../utils/variables.scss';
@import '../utils/mixins.scss';

// ********** MAIN **********

.photographersContainer {
  min-height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.photographersGroup {
  @media (max-width: $breakpointMobile) {
    flex-flow: column;
    align-items: center;
    gap: 4em;
    margin-bottom: 4em;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.photographer {
  width: 350px;
  height: 200px;
  display: flex;
  flex-flow: column;
  gap: 0.3em;
  p,
  blockquote {
    cursor: default;
  }
}

.photographer__link {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.photographer__link__imgWrapper {
  @media (max-width: $breakpointMobile) {
    width: 150px;
    height: 150px;
  }
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.photographer__link__imgWrapper__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.firstPhotographer {
  margin-top: 2em;
  width: auto;
  height: 400px;
}

.portraitPicture {
  margin-top: 4em;
  width: auto;
  height: 350px;
}

.photographer__link__nameWrapper__name {
  @media (max-width: $breakpointMobile) {
    margin-top: 0.5em;
    font-size: 1.25em;
  }
  white-space: nowrap;
  font-weight: 400;
  font-size: 2.25em;
  color: $subtitleFontColors;
}

.photographer__city {
  font-weight: 400;
  font-size: 0.8125em;
  color: $subtitleFontColors;
}

.photographer__tagline {
  font-weight: 400;
  font-size: 0.625em;
  color: $textFontColors;
}

.photographer__price {
  font-weight: 400;
  font-size: 0.5625em;
  color: $subTextFontColors;
}
