@use "variables" as variables;
@use "mixins" as mixins;

// RESET STYLES & GLOBAL STYLE
html,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM-sans', sans-serif;
}

body {
  padding: 2.625em 2.625em  0 2.625em;
  margin: auto;
  max-width: 1440px;
}

a, button {
  &:focus {
    outline: 6px solid variables.$textFontColors;
  }
}

// ********** HEADER **********
header {
  @media (max-width: variables.$breakpointMobile) {
    flex-flow: column;
    gap: 2em;
    text-align: center;
    margin-bottom: 4em;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.625em 0 2.625em;
  margin-bottom: 7.0625em;
}

.brandingWrapper__imgContainer {
  width: 200px;
}

.brandingWrapper__imgContainer__img {
  width: 100%;
  object-fit: cover;
}

.titleWrapper__title {
  font-size: 2.25em;
  font-weight: 400;
  color: variables.$titleFontColors;
  cursor: default;
}