// ********** FONTS COLORS **********
$titleFontColors: #901C1C;
$subtitleFontColors: #D3573C;
$TJMBackground: #DB8876;

$textFontColors: #000000;
$altTextFontColors: #FFFFFF;
$subTextFontColors: #757575;

$bannerBackground: #FAFAFA;
$lightboxBackground: #FFFFFF;

// ********** BREAKPOINTS **********
$breakpointMobile: 768px;
$breakpointTablet: 1024px;