// ********** FONTS COLORS **********
$titleFontColors: #901C1C;
$subtitleFontColors: #D3573C;

$textFontColors: #000000;
$subTextFontColors: #757575;

// ********** BREAKPOINTS **********
$breakpointMobile: 768px;